/* Color variables */
:root {
    --main-bg-color:#3B3486;
    --main-text-color: #FCFDF2;
	--main-link-color: #FFE9B1;
}

/* Global styles */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* Header styles */
header {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: inline-block;
}

#logo-img {
	vertical-align: middle;
    height: 40px;
    margin-top: 5px;
}

.logo-text {
	display: inline-block;
	margin-left: 10px;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar ul li {
	margin-right: 20px;
}

.navbar ul li:last-child {
	margin-right: 0;
}

.navlink {
	color: var(--main-text-color);
	text-decoration: none;
}

.navlink:hover {
	color: var(--main-link-color);
}

/* Main styles */
main {
	margin: 0 auto;
	padding: 10px;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

/* Footer styles */
footer {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	padding: 10px;
	text-align: center;
}

/* Index page */
.index {
    padding: 50px;
	max-width: 800px;
	margin: 0 auto;
}

/* Pet facts */
#fact-placeholder {
	font-size: 18px;
	font-style: italic;
	color: #555;
}
  
/* About us page */
.about-us {
	padding: 50px;
	max-width: 800px;
	margin: 0 auto;
}

/* Gallery page */
.gallery {
	padding: 50px;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

/* Join us page */
.join-us {
	padding: 50px;
	max-width: 1000px;
	margin: 0 auto;
}

.join-us p {
	margin-bottom: 30px;
}

.join-us ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.join-us li {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.2;
}

.join-us strong {
	font-weight: bold;
}

/* Registration page */
.registration {
	padding: 50px;
	max-width: 800px;
	margin: 0 auto;
  }
  
.registration form {
	display: grid;
	grid-gap: 20px;
}
  
.registration .form-group {
	display: grid;
	grid-template-columns: 150px 1fr;
	align-items: center;
}
  
.registration .form-group label {
	font-size: 18px;
	font-weight: bold;
}
  
.registration input[type="text"],
.registration input[type="email"],
.registration input[type="number"] {
	width: 70%;
	padding: 10px;
	font-size: 16px;
}
  
.registration button[type="submit"] {
	width: 100px;
	padding: 10px 20px;
	font-size: 18px;
	background-color: #6a60d3;
	color: #fff;
	border: none;
	cursor: pointer;
}
  
.registration button[type="submit"]:hover {
	background-color: #3B3486;
}

#user-agreement-link {
	text-decoration: none;
	color: #6a60d3;
}

/* hidden message text */
.hidden {
	display: none;
}

#message {
	margin-top: 10px;
	padding: 10px;
	color: #6a60d3;
	font-weight: bold;
} 

/* Adoption page */
#pet-adoption {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
  
#filter {
	margin-bottom: 20px;
}
  
#pet-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
  
.pet-item {
	width: 200px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.pet-item h3 {
	margin-top: 0;
}
  
.pet-item p {
	margin-bottom: 5px;
}
  
